
.btn-outline-white{
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
}

.btn-outline-white:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(5, 0, 100);
}
.btn-outline-blue-darck{
    border: 2px solid rgb(5, 0, 100);
    transition: all 0.3s ease;
    color: rgb(5, 0, 100);
}

.btn-outline-blue-darck:hover{
    background-color: rgb(5, 0, 100);
    color: rgb(255, 255, 255);
}
/* header */
.tete{
    margin-left: 22%;
}
.tete h1{
    margin-left: 7%;
}
 
.tete .logo{
    width: 12%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.tete button{
    margin-left: 50%;;
}

/* body */
.my-border{
    border: 2px solid rgb(5, 0, 100);
}

.filtre input{
    height: 30px;
}

.filtre button{
    margin-top: -5px;
}


body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    color: white;
    background-color: #000b73;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}