body {
  font-family: 'lato', sans-serif;
}
.btn-outline-white{
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
}

.btn-outline-white:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(5, 0, 100);
}
.btn-outline-blue-darck{
    border: 2px solid rgb(5, 0, 100);
    transition: all 0.3s ease;
    color: rgb(5, 0, 100);
}

.btn-outline-blue-darck:hover{
    background-color: rgb(5, 0, 100);
    color: rgb(255, 255, 255);
}

.btn-outline-like-logo{
    transition: 
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background 0.3s ease;
    background: linear-gradient(90deg, #2369FF, #A631FF);
    color: rgb(255, 255, 255);cursor: pointer;

}
.btn-outline-like-logo:hover{
    color: rgb(255, 255, 255);
    transform: translateY(-4px) scale(1.03);
    background: linear-gradient(90deg, #1E6BFF, #9438FF);
    box-shadow: 
        0 0 12px rgba(35, 105, 255, 0.6),
        0 0 24px rgba(166, 49, 255, 0.5);
}
/* header */
.tete{
    margin-left: 22%;
}
.tete h1{
    margin-left: 7%;
}
 
.tete .logo{
    width: 12%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.tete button{
    margin-left: 50%;;
}

/* body */
.my-border{
    border: 2px solid rgb(5, 0, 100);
}

.filtre input{
    height: 30px;
}

.filtre button{
    margin-top: -5px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  list-style: none;
  padding: 0;
}

.responsive-table li {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.table-header { 
    color: #ffffff;
  background-color: #000b73;
  font-weight: bold;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.col {
  padding: 5px;
}

/* Largeur colonnes */
.col-1 { flex-basis: 14%; }
.col-2 { flex-basis: 18%; }

/* Bouton */
.btn-valider {
  padding: 5px 10px;
  cursor: pointer;
}
